<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini ">
<div class="wrapper">
    <div th:replace="fragment/navbar-horizontal"></div>
    <div th:replace="fragment/navbar-vertical"></div>

    <div class="content-wrapper">
        <div th:replace="fragment/form"></div>
<!--        <div th:replace="/fragment/table"></div>-->
    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>