<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 my-4">

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Horizontal Form</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="card-body">

                            <!--
                                                        Champ email
                            -->
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Email</label>
                                <div class="col-lg-10">
                                    <input class="form-control" placeholder="Email" type="email">
                                </div>
                            </div>


                            <!--
                                                        Champ password
                            -->
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Password</label>
                                <div class="col-lg-10">
                                    <input class="form-control" placeholder="Password"
                                           type="password">
                                </div>
                            </div>

                            <!--
                                                        Champ Select Box et Input File sur une linge
                            -->
                            <div class="row">

                                <!--
                                                                Champ Select Box
                                -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-lg-2">Select</label>
                                        <div class="col-lg-10">
                                            <select class="form-control select2bs4" style="width: 100%;">
                                                <option>Alabama</option>
                                                <option>Alaska</option>
                                                <option>California</option>
                                                <option>Delaware</option>
                                                <option>Tennessee</option>
                                                <option>Texas</option>
                                                <option>Washington</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                                                Champ inputs File
                                -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-lg-2 col-form-label">File input</label>
                                        <div class="input-group col-lg-10">
                                            <div class="custom-file">
                                                <input class="custom-file-input" type="file">
                                                <label class="custom-file-label">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--
                                                        Deux champs inputs sur one row
                            -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Text</label>
                                        <input class="form-control" placeholder="Enter ..." type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Text Disabled</label>
                                        <input class="form-control" disabled placeholder="Enter ..." type="text">
                                    </div>
                                </div>
                            </div>

                            <!--
                                                        Trois Champs inputs styles sur une ligne
                            -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- input states -->
                                    <div class="form-group">
                                        <label class="col-form-label"><i
                                                class="fas fa-check"></i>
                                            Input with
                                            success</label>
                                        <input class="form-control is-valid"
                                               placeholder="Enter ..."
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label"><i class="far fa-bell"></i>
                                            Input with
                                            warning</label>
                                        <input class="form-control is-warning"
                                               placeholder="Enter ..."
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="col-form-label"><i
                                                class="far fa-times-circle"></i> Input
                                            with
                                            error</label>
                                        <input class="form-control is-invalid"
                                               placeholder="Enter ..."
                                               type="text">
                                    </div>
                                </div>
                            </div>

                            <!--
                                                        Champ TextArea
                            -->

                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label">Textarea</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" placeholder="Enter ..." rows="7"></textarea>
                                    </div>
                                </div>


                            <!--
                                                        Champ email avec icone
                            -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" type="email">
                            </div>

                            <!--
                                                        Trois champs checkbox et radio
                            -->
                            <div class="row">

                                <div class="col-lg-6">
                                    <!-- checkbox -->
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label">Checkbox</label>
                                        </div>
                                        <div class="form-check">
                                            <input checked class="form-check-input" type="checkbox">
                                            <label class="form-check-label">Checkbox checked</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" disabled type="checkbox">
                                            <label class="form-check-label">Checkbox disabled</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <!-- radio -->
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" name="radio1" type="radio">
                                            <label class="form-check-label">Radio</label>
                                        </div>
                                        <div class="form-check">
                                            <input checked class="form-check-input" name="radio1" type="radio">
                                            <label class="form-check-label">Radio checked</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" disabled type="radio">
                                            <label class="form-check-label">Radio disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--Boutons-->
                            <!-- /.card-body -->
                            <div class="card-footer text-center">
                                <button class="btn btn-info" type="submit">Sign in</button>
                                <button class="btn btn-outline-danger" type="button"><i class="fa fa-cancel"></i> Cancel
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.card -->
    </div>
</section>