<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <style th:replace="fragment/style"></style>
    <title>Liste Utilisateurs</title>
</head>
<body class="hold-transition sidebar-mini ">
<div class="wrapper">
    <div th:replace="fragment/navbar-horizontal"></div>
    <div th:replace="fragment/navbar-vertical"></div>

    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 my-2">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste des Utilisateurs</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control float-right" name="table_search"
                                               placeholder="Search"
                                               type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-default" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>

                                        <button class="btn btn-tool" data-card-widget="collapse" title="Collapse"
                                                type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button class="btn btn-tool" data-card-widget="remove" title="Remove"
                                                type="button">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap table-striped">
                                    <thead>
                                    <tr>
                                        <th>Prenom</th>
                                        <th>Nom</th>
                                        <th>Adresse</th>
                                        <th>Telephone</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="utilisateur : ${utilisateurs}">
                                        <td th:text="${utilisateur.prenom}"></td>
                                        <td th:text="${utilisateur.nom}"></td>
                                        <td th:text="${utilisateur.adresse}"></td>
                                        <td th:text="${utilisateur.telephone}"></td>
                                        <td th:text="${utilisateur.email}"></td>
                                        <td>
                                            <th:block th:each="role : ${utilisateur.roles}">
                                                <span th:text="${role.roleName}"></span>
                                            </th:block>
                                        </td>
                                        <td>
                                            <button class="btn"><a
                                                    th:href="@{/utilisateur/update(id=${utilisateur.id})}"><i
                                                    class="far fa-edit"></i></a></button>
                                            <button class="btn"><a
                                                    th:href="@{/utilisateur/details(id=${utilisateur.id})}"><i
                                                    class="far fa-eye"></i> </a></button>
                                            <button class="btn swalDefaultError" type="button">
                                                <a th:href="@{/utilisateur/delete(id=${utilisateur.id})}">
                                                    <i class="far fa-trash-alt text-danger"></i> </a></button>


                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--
                                Pagination:
                                    On affiche une liste inline si le nombre de page <=3

                            -->
                           <!-- <div class="card-tools">
                                <ul class="pagination pagination-sm float-left ml-5">
                                    <b th:text="'Vous avez '+${totalElement}+' Utilisateur.s'"></b>
                                </ul>
                                <ul class="pagination pagination-sm float-right" th:if="${totalElement}>7">

                                    <th:block th:if="${nbTotalPage}<=3">
                                        <li class="page-item" th:classappend="${currentPage}==0?'disabled'">
                                            <a class="page-link"
                                               th:href="@{/utilisateur/(page=${currentPage-1})}">&laquo;</a></li>

                                        <li class="page-item"
                                            th:classappend="${currentPage}==${status.index}?'active':''"
                                            th:each="page, status : ${totalPage}">
                                            <a class="page-link" th:href="@{/utilisateur/(page=${status.index})}"
                                               th:text="${status.index+1}"></a>
                                        </li>
                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-1}?'disabled'">
                                            <a class="page-link"
                                               th:href="@{/utilisateur/(page=${currentPage+1})}">&raquo;</a></li>

                                    </th:block>

                                    <th:block th:if="${nbTotalPage}>3">
                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-nbTotalPage}?'disabled':''">
                                            <a class="page-link"
                                               th:href="@{/utilisateur/(page=${currentPage-1})}">&laquo;</a></li>

                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-nbTotalPage}?'active':''">
                                            <a class="page-link" th:href="@{/utilisateur/(page=0)}"
                                               th:text="1"></a>
                                        </li>
                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-nbTotalPage+1}?'active':''">
                                            <a class="page-link" th:href="@{/utilisateur/(page=1)}"
                                               th:text="2"></a>
                                        </li>
                                        <li class="page-item" th:if="${nbTotalPage}>5">
                                            <a class="page-link" th:text="..."></a>
                                        </li>


                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-2}?'active':''"
                                            th:if="${nbTotalPage}>4">
                                            <a class="page-link" th:href="@{/utilisateur/(page=${nbTotalPage-2})}"
                                               th:text="${nbTotalPage-2}"></a>
                                        </li>

                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-1}?'active':''">
                                            <a class="page-link" th:href="@{/utilisateur/(page=${nbTotalPage-1})}"
                                               th:text="${nbTotalPage-1}"></a>
                                        </li>
                                        <li class="page-item"
                                            th:classappend="${currentPage}==${nbTotalPage-1}?'disabled'">
                                            <a class="page-link"
                                               th:href="@{/utilisateur/(page=${nbTotalPage+1})}">&raquo;</a></li>

                                    </th:block>
                                </ul>
                            </div>-->
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div th:replace="fragment/footer"></div>
</div>
</body>
<script th:replace="fragment/script"></script>
</html>