<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentification Utilisateur</title>
    <style th:replace="fragment/style"></style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center h1"><b>Authentification </b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg text-primary">Saisissez vos identifiants</p>
            <p class="text-danger text-center" th:if="${param.error}">
                Email et/ou Password Incorrect.s!
            </p>
            <form method="post" th:action="@{/login}">
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <input class="form-control" name="username"
                          autofocus placeholder="Veuillez entre votre email" type="email">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <input class="form-control" name="password"
                           placeholder="Veuillez entre votre password" type="password">
                </div>
                <div class="icheck-primary">
                    <input id="remember" type="checkbox">
                    <label for="remember">
                        Se Souvenir
                    </label>
                </div>

                <!-- /.col -->
                <div class="col-lg-6 offset-3 mt-4 mb-3 ">
                    <button class="btn btn-outline-success" type="submit">Se Connecter</button>
                </div>
                <!-- /.col -->

            </form>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

</body>
</html>